body {
    font-family: 'Arial', sans-serif;
    background: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.grille {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
}