body {
    font-family: 'Arial', sans-serif;
    background: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.grille {
    text-align: left;
    margin: 20px 0;
    color: #ffffff;
}

.highlight {
    color: #00fff2;
}

button#back {
    display: flex;
    align-items: left;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

button#back:hover {
    color: #000000;
}