body {
    font-family: Arial, sans-serif;
    background-color: #d11818;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2.5vw;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.button {
    width: 100%;
    padding: 15px;
    font-size: 1.8vw;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #3A506B;
    color: #E0E0E0;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease, transform 0.2s;
}

.button:hover {
    background-color: #F57C00;
    transform: scale(1.05);
}
