body {
    font-family: 'Arial', sans-serif;
    background: #ffffff url('/css/image/fond2.png') center center/cover no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 2.5vw;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.button {
    width: 100%;
    padding: 15px;
    font-size: 1.8vw;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #c58fcc;
    color: #ffffff;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease, transform 0.2s;
}

.button:hover {
    background-color: #1f7eaa;
    transform: scale(1.05);
}
