body {
    font-family: 'Arial', sans-serif;
    background: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 2.5vw;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

input {
    align-items: flex;
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    text-align: center;
}

.artists-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Deux colonnes */
    gap: 20px; /* Espace entre les colonnes */
    width: 80%; /* Largeur de la grille */
    margin: 20px auto; /* Centrer la grille */
}

.artist-card {
    background-color: #fff;
    color: #000000;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.artist-card img {
    max-width: 100%;
    height: auto;
}

.artist-card button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #ffffff;
    color: white;
    border: none;
    cursor: pointer;
}

.artist-card button:hover {
    background-color: #41414128;
}