<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/Credit.css">
    <title>Crédit</title>
</head>
<body>
    <h1>A propros de nous</h1>
    <p>
    Kéo : <a href="https://github.com/Pl0um">Pl0um</a><br>
    Mael : <a href="https://github.com/CasualElf34">CasualElf34</a><br>
    Lucas : <a href="https://github.com/Howexou">Howexou</a>
    </p>

    <form action="/Home" method="get">
        <button name="back" id="back">Retour</button>
    </form>

    <h2 class="ici"><a class="ici" href="https://cornhub.website/">_</a></h2>
</body>
</html>