<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/Credit.css">
    <title>Crédit</title>
</head>
<body>
    <h1>A propos de nous</h1>
    <p>
    Kéo : <a href="https://github.com/Pl0um">Pl0um</a><br>
    Mael : <a href="https://github.com/CasualElf34">CasualElf34</a><br>
    Lucas : <a href="https://github.com/Howexou">Howexou</a>
    </p>

    <form action="/Home" method="get">
        <button name="back" id="back">Retour</button>
    </form>

    <h2 class="ici"><a class="ici" href="https://cornhub.website/">_</a></h2>

</body>
<div class="tenor-gif-embed" data-postid="14200271775968563996" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/silly-cat-silly-car-car-stare-10-thousand-yard-stare-10-thousand-yard-gif-14200271775968563996">Silly Cat Silly Car GIF</a>from <a href="https://tenor.com/search/silly+cat-gifs">Silly Cat GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</html>