<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crédits</title>
    <link rel="stylesheet" type="text/css" href="css/credit.css" />
  </head>
  <body>
    <h1>Crédits</h1>
      <div class="logo">GROUPIETRACKER</div>
      <div class="nav-items">
        <a href="/">Accueil</a>
        <a href="/groupie">Tracker</a>
        <a href="/">Crédits</a>
        <p>
            ici ya les crédit
          </p>
      </div>
  </body>
</html>