<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/Groupie.css">
    <title>Artiste</title>
</head>
    <h1>Informations sur l'artiste</h1>
    <body>
        <div class = "grille">
            <h1 id="name">{{.Name}}</h1>
            <h1 id="members">{{.Members}}</h1>
            <h1 id="creation-date">{{.CreationDate}}</h1>
            <h1 id="first-album">{{.FirstAlbum}}</h1>
            <h1 id="locations">{{.Locations}}</h1>
        </div>
        <img src="{{.Image}}">
    </body>
</html>