<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/Home.css">
    <title>Groupie Trackers</title>
</head>
<body>
    <h1>Groupie Tracker</h1>
    <input search="search" placeholder="Rechercher un artiste">
    <div class="artists-grid">
        {{ range .Lists }}
        <div class="artist-card">
            <h2>{{.Name}}</h2>
            <form action="/Groupie" method="get">
                <button name="id" id="artists-button" value="{{.Id}}" type="submit">
                    <img src="{{.Image}}" alt="Artist Image">
                </button>
            </form>
        </div>
        {{ end }}
    </div>
    <p>2024 - Ynov campus Montpellier<sup>&copy;</sup> </p>
</body>
</html>