<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/Locations.css">
    <title>Locations</title>
</head>
<body>
    <h1>Locations</h1>
    <div id="locations"></div>
    <script>
        fetch('https://groupietrackers.herokuapp.com/api/locations')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Données reçues:', data); // Log des données reçues
                const locationsDiv = document.getElementById('locations');
                data.forEach(location => {
                    const locationElement = document.createElement('div');
                    locationElement.innerHTML = `
                        <h2>${location.name}</h2>
                        <p>${location.details}</p>
                    `;
                    locationsDiv.appendChild(locationElement);
                });
            })
            .catch(error => console.error('Erreur lors de la récupération des locations:', error));
    </script>
</body>
</html>